.app {
  background: #263238;
}

.q-row {
  margin-bottom: 0.5rem;
}

.q-col {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  text-align: center !important;
  justify-content: center !important;
  
}
